[submodule "lib/UnitTesting4MATLAB"]
	path = lib/UnitTesting4MATLAB
	url = git@github.com:PeterCalifano/UnitTesting4MATLAB.git
	branch = main
[submodule "lib/MathCore_for_SpaceNav"]
	path = lib/MathCore_for_SpaceNav
	url = git@github.com:PeterCalifano/MathCore_for_SpaceNav.git
	branch = dev_main
